body {
    background-color: #F5F5F5;
    padding-top: 40px;
}

@media screen and (max-width: 768px) {
    .navText {
        display: none;
    }
    
    .navbar-fixed-left {
        width: 50px;
    }
    
    .navbar-fixed-left a {
        width: 45px;
        margin-left: 14px;
    }
    
    .rightBox {
        margin-left: 50px;
    }
}

@media screen and (min-width: 768px) {
    .navText {
        display: inline;
    }
    
    .navbar-fixed-left {
        width: 150px;
    }
    
    .rightBox {
        margin-left: 150px;
    }
}

.top-header {
    text-align: center;
    background-color: white;
}

.nav_button {
    float: left;
}

.logo {
    width: 250px;
    display: inline;
}

.navbar-fixed-left {
    position: fixed;
    border-radius: 0;
    height: 100%;
    background-color: #444444;
}

.rightBox {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

.rightBoxPage {
    /*position: fixed;*/
    /*width: calc(100% - 180px);*/
    transition: all linear 0.2s;
}

.rightBoxPage.ng-hide {
    opacity: 0;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;
    width: 139px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #444444;
}

.navbar-faicon {
    padding-left: 4px;
    padding-right: 10px;
}

hr {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

.panel-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.tabBlock {
    padding-left: 10px;
    padding-right: 10px;
}

.panelHeaderDropdown {
    float: right;
    width: 180px;
}

.tableImages {
    height: 30px;
    margin-right: 8px;
}

.td_offset {
    padding-top: 6px;
}
