<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>United States Congress</title>
    <link href="library/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="library/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="library/jquery-3.1.1.min.js"></script>
    <script src="library/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="library/angular.min.js"></script>
    <script src="library/angular-animate.js"></script>
    <script src="library/dirPagination.js"></script>
    <script src="library/moment.min.js"></script>
    <script src="congress.js"></script>
    <link href="congress.css" rel="stylesheet">
</head>
<header class="top-header navbar-fixed-top">
    <button id="navButton" type="button" class="btn btn-default nav_button" style="border: 0; margin-top: 4px;">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    <div class="logo">
        <a href="http://sunlightfoundation.com/" target="_blank"><img src="images/logo.png" alt="Sunlight Foundation"></a>
        <b class="h4">Congress API</b>
    </div>
</header>
<body ng-app="congressApp" ng-controller="mainTabController as mainTab">
    <nav class="navbar navbar-inverse navbar-fixed-left" role="navigation" style="display:block;">
        <ul class="nav navbar-nav" style="padding-top: 15px;">
            <li ng-class="{ active:mainTab.isSelected(1) }">
                <a href ng-click="mainTab.selectTab(1)"><i class="fa fa-user navbar-faicon" aria-hidden="true"></i><span class="navText">Legislators</span></a>
            </li>
            <li ng-class="{ active:mainTab.isSelected(2) }">
                <a href ng-click="mainTab.selectTab(2)"><i class="fa fa-file-o navbar-faicon" aria-hidden="true"></i><span class="navText">Bills</span></a>
            </li>
            <li ng-class="{ active:mainTab.isSelected(3) }">
                <a href ng-click="mainTab.selectTab(3)"><i class="fa fa-sign-in navbar-faicon" aria-hidden="true"></i><span class="navText">Committees</span></a>
            </li>
            <li ng-class="{ active:mainTab.isSelected(4) }">
                <a href ng-click="mainTab.selectTab(4)"><i class="fa fa-star navbar-faicon" aria-hidden="true"></i><span class="navText">Favorites</span></a>
            </li>
        </ul>
    </nav>
    <div class="rightBox">
        <div id="legislatorPage" class="rightBoxPage contanier" ng-show="mainTab.isSelected(1)" ng-controller="legDetailsPanelController as panelDetails">
            <h2>Legislators</h2>
            <hr>
            <div id="legis" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#legis" data-slide-to="0" class="active"></li>
                <li data-target="#legis" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
            <div id="legListPanel" class="panel panel-default panel-shadow item active">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#byState" aria-controls="byState" role="tab" data-toggle="tab">By State</a></li>
                    <li role="presentation"><a href="#byHouse" aria-controls="byHouse" role="tab" data-toggle="tab">House</a></li>
                    <li role="presentation"><a href="#bySenate" aria-controls="bySenate" role="tab" data-toggle="tab">Senate</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="byState">
                    <div class="panel panel-default" style="margin: 10px;" ng-controller="legislatorTableController as leg">
                        <div class="panel-heading row" style="margin-right: 0; margin-left: 0;">
                            <div class="col-sm-6 col-xs-6 col-md-6"><b>Legislators by State</b></div>
                            <div class="col-sm-6 col-xs-6 col-md-6"><select name="stateSelect" class="form-control panelHeaderDropdown" ng-model="legStateFilter" ng-options="state for state in stateNames">
                                <option value selected>All States</option>
                            </select></div>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="table table-hover">
                                <tr><th>Party</th><th>Name</th><th>Chamber</th><th>District</th><th>State</th><th> </th></tr>
                                <tr dir-paginate="x in people | orderBy:'state_name' | filter:{state_name:legStateFilter||undefined} | itemsPerPage: 10" pagination-id="legPageState">
                                    <td><img ng-src="{{x.party==='R'?'images/republicans.png':(x.party==='D'?'images/democrats.png':'images/independent.png')}}" alt="{{x.party}}" height="30px" class="tableImages"></td>
                                    <td><div style="padding-top: 5px;">{{x.last_name + ", " + x.first_name}}</div></td>
                                    <td><img ng-src="{{x.chamber==='house'?'images/house.png':'images/senate.svg'}}" alt="{{x.chamber}}" height="30px" class="tableImages">{{x.chamber==='house'?'House':'Senate'}}</td>
                                    <td><div style="padding-top: 5px;">{{x.district==null?"N.A":"District "+x.district}}</div></td>
                                    <td><div style="padding-top: 5px;">{{x.state_name}}</div></td>
                                    <td><button type="button" class="btn btn-primary" href="#legis" role="button" data-slide="next" ng-click="panelDetails.detailShow('/' + x.bioguide_id)">View Details</button></td>
                                </tr>
                            </table>
                            <div style="text-align: center;">
                                <dir-pagination-controls pagination-id="legPageState"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="byHouse">
                    <div class="panel panel-default" style="margin: 10px;" ng-controller="legislatorTableController as leg">
                        <div class="panel-heading row" style="margin-right: 0; margin-left: 0;">
                            <div class="col-sm-6 col-xs-6 col-md-6"><b>Legislators by House</b></div>
                            <div class="col-sm-6 col-xs-6 col-md-6"><input placeholder="Search" ng-model="searchHouse" class="panelHeaderDropdown"></div>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="table table-hover">
                                <tr><th>Party</th><th>Name</th><th>Chamber</th><th>District</th><th>State</th><th> </th></tr>
                                <tr dir-paginate="x in people | filter:{chamber:'house'} | filter:searchHouse | itemsPerPage: 10" pagination-id="legPageHouse">
                                    <td><img ng-src="{{x.party==='R'?'images/republicans.png':(x.party==='D'?'images/democrats.png':'images/independent.png')}}" alt="{{x.party}}" height="30px" class="tableImages"></td>
                                    <td><div style="padding-top: 5px;">{{x.last_name + ", " + x.first_name}}</div></td>
                                    <td><img ng-src="{{x.chamber==='house'?'images/house.png':'images/senate.svg'}}" alt="{{x.chamber}}" height="30px" class="tableImages">{{x.chamber==='house'?'House':'Senate'}}</td>
                                    <td><div style="padding-top: 5px;">{{x.district==null?"N.A":"District "+x.district}}</div></td>
                                    <td><div style="padding-top: 5px;">{{x.state_name}}</div></td>
                                    <td><button type="button" class="btn btn-primary" href="#legis" role="button" data-slide="next" ng-click="panelDetails.detailShow('/' + x.bioguide_id)">View Details</button></td>
                                </tr>
                            </table>
                            <div style="text-align: center;">
                                <dir-pagination-controls pagination-id="legPageHouse"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="bySenate">
                    <div class="panel panel-default" style="margin: 10px;" ng-controller="legislatorTableController as leg">
                        <div class="panel-heading row" style="margin-right: 0; margin-left: 0;">
                            <div class="col-sm-6 col-xs-6 col-md-6"><b>Legislators by Senate</b></div>
                            <div class="col-sm-6 col-xs-6 col-md-6"><input placeholder="Search" ng-model="searchSenate" class="panelHeaderDropdown"></div>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="table table-hover">
                                <tr><th>Party</th><th>Name</th><th>Chamber</th><th>District</th><th>State</th><th> </th></tr>
                                <tr dir-paginate="x in people | filter:{chamber:'senate'} | filter:searchSenate | itemsPerPage: 10" pagination-id="legPageSenate">
                                    <td><img ng-src="{{x.party==='R'?'images/republicans.png':(x.party==='D'?'images/democrats.png':'images/independent.png')}}" alt="{{x.party}}" height="30px" class="tableImages"></td>
                                    <td><div style="padding-top: 5px;">{{x.last_name + ", " + x.first_name}}</div></td>
                                    <td><img ng-src="{{x.chamber==='house'?'images/house.png':'images/senate.svg'}}" alt="{{x.chamber}}" height="30px" class="tableImages">{{x.chamber==='house'?'House':'Senate'}}</td>
                                    <td><div style="padding-top: 5px;">{{x.district==null?"N.A":"District "+x.district}}</div></td>
                                    <td><div style="padding-top: 5px;">{{x.state_name}}</div></td>
                                    <td><button type="button" class="btn btn-primary" href="#legis" role="button" data-slide="next" ng-click="panelDetails.detailShow('/' + x.bioguide_id)">View Details</button></td>
                                </tr>
                            </table>
                            <div style="text-align: center;">
                                <dir-pagination-controls pagination-id="legPageSenate"></dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div id="legDetails" class="panel panel-default panel-shadow item">
                <div class="panel-heading" style="background-color: white;">
                    <button id="legDetailReturn" type="button" class="btn btn-default">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </button>
                    <h3 class="panel-title" style="display: inline;">Details</h3>
                    <button type=button class="btn btn-default" style="float: right;">
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="container">
                <div class="row">
                    <div class="col-md-6">
                       <div class="row" style="margin-top: 10px;">
                           <div class="col-md-4" style="text-align: center;">
                               <img ng-src="https://theunitedstates.io/images/congress/original/{{legislator.personal.bioguide_id}}.jpg" alt="{{legislator.personal.first_name+' '+legislator.personal.first_name}}" height=200px>
                           </div>
                           <div class="col-md-8"><table class="table">
                               <tr><td>{{legislator.personal.title}}. {{legislator.personal.last_name}}, {{legislator.personal.first_name}}</td></tr>
                               <tr><td><a href="mailto:{{legislator.personal.oc_email}}">{{legislator.personal.oc_email}}</a></td></tr>
                               <tr><td>Chamber: {{legislator.personal.chamber==='house'?'House':'Senate'}}</td></tr>
                               <tr><td>Contact: <a href="tel: {{legislator.personal.phone}}">{{legislator.personal.phone}}</a></td></tr>
                               <tr><td><img ng-src="{{legislator.personal.party==='R'?'images/republicans.png':(legislator.personal.party==='D'?'images/democrats.png':'images/independent.png')}}" alt="{{legislator.personal.party}}" height="30px" class="tableImages">{{legislator.personal.party==='R'?'Republican':(legislator.personal.party==='D'?'Democrat':'Independent')}}</td></tr>
                           </table></div>
                        </div>
                        <table class="table table-responsive">
                            <tr><td><b>Start Term</b></td><td>{{formatTime(legislator.personal.term_start)}}</td></tr>
                            <tr><td><b>End Term</b></td><td>{{formatTime(legislator.personal.term_end)}}</td></tr>
                            <tr><td><b>Term</b></td><td><div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{getProgress(legislator.personal.term_start,legislator.personal.term_end)}}" style="width: {{getProgress(legislator.personal.term_start,legislator.personal.term_end)}}%;">{{getProgress(legislator.personal.term_start,legislator.personal.term_end)}}%</div></div></td></tr>
                            <tr><td><b>Office</b></td><td>{{legislator.personal.office}}</td></tr>
                            <tr><td><b>State</b></td><td>{{legislator.personal.state_name}}</td></tr>
                            <tr><td><b>Fax</b></td><td><a href="tel: {{legislator.personal.fax}}">{{legislator.personal.fax}}</a></td></tr>
                            <tr><td><b>Birthday</b></td><td>{{formatTime(legislator.personal.birthday)}}</td></tr>
                            <tr><td><b>Social Links</b></td><td>
                                <a href="http://twitter.com/{{legislator.personal.twitter_id}}" target="_blank"><img src="images/twitter.png" alt="Twitter" height="30px"></a>
                                <a href="http://www.facebook.com/{{legislator.personal.facebook_id}}" target="_blank"><img src="images/facebook.png" alt="Facebook" height="30px"></a>
                                <a href="{{legislator.personal.website}}" target="_blank"><img src="images/world.png" alt="Website" height="30px"></a>
                            </td></tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h4>Committees</h4>
                        <table class="table table-responsive">
                            <tr><th>Chamber</th><th>Committee ID</th><th>Name</th></tr>
                            <tr ng-repeat="x in legislator.committees">
                                <td>{{x.chamber==="senate"?"Senate":"House"}}</td>
                                <td>{{x.committee_id}}</td>
                                <td>{{x.name}}</td>
                            </tr>
                        </table>
                        <h4>Bills</h4>
                        <table class="table table-responsive">
                            <tr><th>Bill ID</th><th>Title</th><th>Chamber</th><th>Bill Type</th><th>Congress</th><th>Link</th></tr>
                            <tr ng-repeat="x in legislator.bills">
                                <td>{{x.bill_id}}</td>
                                <td>{{x.official_title}}</td>
                                <td>{{x.chamber==="senate"?"Senate":"House"}}</td>
                                <td>{{x.bill_type}}</td>
                                <td>{{x.congress}}</td>
                                <td><a href="{{x.urls.congress}}" target="_blank">Link</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                </div>
            </div>
            </div>
            </div>
        </div>
        <div id="billPage" class="rightBoxPage" ng-show="mainTab.isSelected(2)">
            <h2>Bills</h2>
            <hr>
        </div>
        <div id="committeePage" class="rightBoxPage" ng-show="mainTab.isSelected(3)">
            <h2>Committees</h2>
            <hr>
        </div>
        <div id="favoritePage" class="rightBoxPage" ng-show="mainTab.isSelected(4)">
            <h2>Favorites</h2>
            <hr>
        </div>
    </div>
</body>
</html>